@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

.footer {
    background-color: #E9E9E9;
    width: 100%;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    /* padding: 64px 180px; */
    color: #000;
    position: anchor;
    bottom: 0;
    margin: 0 50px;
    padding-bottom: 5px;
}

.footer-logo h1 {
    font-family: 'Slackey', sans-serif;
    font-size: 48px;
    line-height: 67.2px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.footer-left p {
    margin-top: 8px;
 font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
}

.footer-socials{
    margin-top: 32px;
}
.footer-socials .social-icon{
    /* padding-right: 48px; */
    margin-right: 20px;
}

.copyright {
font-size: 12px;
font-weight: 400;
line-height: 16.8px;
text-align: left;
margin-top: 84px;
}

.footer-right p {
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;

}

label {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #686868;
    font-family: Ubuntu;
font-size: 12px;
font-weight: 400;
line-height: 22px;
text-align: left;

}
.form-imput {
    gap: 8px;
    margin-bottom: 24px;
}
#contact-email {
    border: 0.5px solid #9E9E9E;
    width: 349px;
    height: 46px;
    border-radius: 4px;
    padding: 12px, 8px, 12px, 8px;
}

/* input [type=text] {
    padding: 12px, 8px, 12px, 8px;
} */

button {
    background-color: #000;
    color: #fff;
    width: 155px;
    height: 46px;
    border-radius: 4px;
    margin-left: 8px;
}

.quicklinks {
    color: #5F5F5F;
    font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;
margin-bottom: 24px;

}

.quicklinks ul {
    display: flex;
    gap: 30px;
}

.quicklinks ul li {
    list-style: none;
}
.contact-details p {
    font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
}

 .numbers {
    display: flex;
    gap: 20px;
    color: #5F5F5F;
    font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;

}

@media(max-width: 768px ) {
    .footer {
        flex-direction: column-reverse;
        /* max-width: 768px; */
        padding: 24px 16px;
    }

    .footer-right p {
        font-family: Ubuntu;
        font-size: 12px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: left;

    }
    #contact-email {
        border: 0.5px solid #9E9E9E;
        width: 220px;
        height: 46px;
        border-radius: 4px;
        padding: 12px, 8px, 12px, 8px;
    }

    button {
        width: 105px;
        height: 46px;
        border-radius: 4px;
        margin-left: 4px;
    }
    
    
    .quicklinks{
        display: none;
    }

    .contact-details p {
        font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;  
    }
.Contact-details .numbers {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .footer-left p {
        font-size: 12px;
        line-height: 16px;
    }



    .footer-logo h1 {
        font-family: 'Slackey', sans-serif;
        font-size: 24px;
        line-height: 33.6px;
        /* text-align: center; */
        font-weight: bold;
        letter-spacing: 0.12em;
        color: #000;
        text-decoration: none;
        margin-top: 24px;
    }

    .footer-socials .copyright {
        text-align: center;
        margin-top: 70px;
    }
}